<!DOCTYPE html>
<html>

<head>
    <title>Register For Vaccine Notification</title>
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/register.css') }}"> -->
</head>

<body>

    <p>
        We can help you to check websites that track covid19 vaccine availabilities and will notify you through email
        when a spot opens up.
    </p>

    <form method=post>
        <table>
            <tr>
                <td>{{ form.email.label }} </td>
                <td>{{ form.email }} </td>
            </tr>
        </table>

        <p><input type=submit value=Register>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msgs in messages %}
                <div class="alert alert-info" role="alert">
                    {{msgs}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
</html>