<!DOCTYPE html>
<html>

<head>
    <title>Register For Vaccine Notification</title>
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/register.css') }}"> -->
</head>

<style>
    body {
        font-size: 18px;
        background-color: powderblue;
    }

    p {
        color: rgb(31, 31, 231)
    }

    input {
        font-size: 18px;
        height: 30px
    }
</style>

<body>
    <p>
        We can help you to check Covid19 vaccine sign-up websites for availabilities and will automatically
        notify you through email when a spot opens up.
    </p>
    <p> Currently we are checking sites below. Please email us at <a
            href="mailto:kzhangapplications@gmail.com">kzhangapplications@gmail.com</a> if you want other
        sign-up sites to be included or have any comments. Thanks.
    </p>

    <form action="" method=post>
        <table style="width:340px">
            <colgroup>
                <col span="1"; style="background-color:rgb(163, 226, 104)">
                <col style="background-color:yellow">
                <col style="background-color:rgb(117, 194, 230)">
              </colgroup>
            <tr>
                <th style="width:85%" > Sign-up Sites </th>
                <th style="width:15%"> Available</th>
                <th style="width:15%"> Register</th>
            </tr>
            {% for name, site, avail in sites %}
            <tr>
                <td><a
                        href="https://{{ site }}">{{ name }}</a>
                </td>
                <td style="text-align:center">{{ avail }}</td>
                <td><input type="checkbox" name="{{ site }}" value="{{ site }}"></td>
            </tr>
            {% endfor %}
        </table>
    
        <br>
        <table>
            <tr>
                <td>Please enter your email (We will notify you when a spot is available):</td>
            </tr>
            <tr>
                <!-- <td>{{ form.email.label }} </td> -->
                <td>{{ form.email }} </td>
            </tr>
        </table>

        <p><input type=submit name="Register" value=Register> <input type=submit name="Remove" value=Remove>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msgs in messages %}
    <div class="alert alert-info" role="alert">
        {{msgs}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>